<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script src="__PUBLIC__/build/lib.js"></script>
    <script src="http://qzonestyle.gtimg.cn/qzone/openapi/qc_loader.js" data-appid="101139503" data-redirecturi="http://im.5i5s.net" charset="utf-8"></script>
    <script type="text/javascript" src="__PUBLIC__/assets/js/lib/bootstrap.min.js"></script>
    <link type="text/css" href="__PUBLIC__/build/min.css" rel="stylesheet">
    <script type="text/javascript">
    var _config = {
            userinfo: null,
            CONTROLLER_NAME: '/Home/{:CONTROLLER_NAME}',
            path: '/'
        },
        _is_back = false,
        node = null,
        friend = [];
    function log(val) {
        console.log(val);
    }
    </script>
</head>

<body>
    <header>
        <div class="menu">
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">BT 文档</a>
                    </div>
                    <!--向右对齐-->
                    <ul class="nav navbar-nav navbar-right <if condition=" empty($data[ 'is_login']) ">hide</if>">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle user" data-toggle="dropdown"><img src="">...</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a></a>
                                </li>
                                <li class="divider"></li>
                                <li><a href="{:U('logout')}" class="logout">退出</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
